body {
    margin: 0;
    min-height: 100vh;
    margin-bottom: 60px;
    height: 100%;
}


hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

body {
    margin: 5px;
}




#cluster {
    margin-top: 100px;
}



.logos {
    max-width: 15%;
    min-width: 70px;

}


#sobremi {
    margin: 10%;
}


.lead {
    z-index: 1;
}

#foto {
    width: 100%;
}

.titulo {
    margin-bottom: 2%;
}

.container {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}


footer {
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}


.imagen {

    padding: 10%;
    max-width: 80%;
}